<h1><%= t "password_text" %></h1>

<p><%= t "content_text1" %></p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
  email: @user.email) %>

<p><%= t "content_text2" %></p>

<p>
  <%= t "content_text3" %>
</p>
